.DS_Store
assembler/*.hack
assembler/target
*.zip
target
compiler/assembler/**/*.txt
compiler/assembler/**/*.hack
compiler/assembler/**/*.asm
compiler/vm-compiler/**/*.txt
compiler/vm-compiler/**/*.hack
compiler/vm-compiler/**/*.asm
compiler/VMTranslator
.vscode